<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page - Team 02's Tutorio</title>
</head>

<body>
    <h1>About Page - Team 02's Tutorio</h1>
    <ul>
        <li><a href="/about/student1">Student 1</a></li>
        <li><a href="/about/student2">Student 2</a></li>
        <li><a href="/about/student3">Student 3</a></li>
        <li><a href="/about/student4">Student 4</a></li>
        <li><a href="/about/student5">Student 5</a></li>
        <li><a href="/about/student6">Student 6</a></li>
    </ul>
</body>

</html>