<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page - Team 02's Tutorio</title>
</head>

<body>
    <h1>About Page - Team 02's Tutorio</h1>
    <ul>
        <li><a href="/about/person1">Person 1</a></li>
        <li><a href="/about/person2">Person 2</a></li>
        <li><a href="/about/person3">Person 3</a></li>
        <li><a href="/about/person4">Person 4</a></li>
        <li><a href="/about/person5">Person 5</a></li>
        <li><a href="/about/person6">Person 6</a></li>
    </ul>
</body>

</html>