#page-title
{
    text-align: center;
}
#carousel-title,
#new-tutor-title
{
    color: #231161;
    text-align: center;
}

.carousel-clip-container
{
    overflow: hidden;
    width: 35%;
    margin: 0 auto;
}

.carousel-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rectangle
{
    width: 200px;
    height: 100px;
    background-color: #fc3;
    text-align: center;
    line-height: 100px;
    color: black;
    cursor: pointer;
    margin: 15px;
    transform: scale(1);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1;
    display: none;
}

 /* side rects */
.rectangle:first-child,
.rectangle:nth-child(3)
{
    opacity: 0.75;
    display: inline-block;
    transform: scale(0.9);
}

/* center rect */
.rectangle:nth-child(2)
{
    display: inline-block;
    transform: scale(1.2);
}