/*Sets up some base elements of navbar*/
#nav-bar
{
  background-color: #231161;
  min-height: 144px;
}
.nav-link
{
  pointer-events: all;
  display: inline-block;
  width: auto;
  height: 50px;
  line-height: 50px;
  vertical-align: center;
  padding: 0 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  font-size: 18px;
  background-color: #fc3;
}
.nav-link:hover
{
    text-decoration: underline;
    background-color: #303;
    color: #fc3;
}
#warning-label
{
  pointer-events: none;
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 15px;
  font-size: 18px;
  color: white;
}


#nav-left
{
  /*float: left;*/
  margin-left: 10px;
  width: 20.7%;
  height: auto;
}
#tutorlink-logo
{
  display: inline-block;
  margin-top: 10px;
  width: 120px;
  height: 120px;
  font-size: 20px;
  color: white;
  background-color: inherit;
  align-self: center;
}
#tutorlink-logo:hover
{
  /*background-color: #303;*/
}
#about-us
{
  display: inline-block;
  text-align: center;
  position: relative;
  bottom: 19px;
  width: 90px;
  margin: 29px 50px -10px 10px;
}

/*Search Bar positioning and appearance*/
#search-bar-wrapper
{
  pointer-events: none;
  position: absolute;
  top: 60px;
  width: 100%;
  text-align: center;
}
#search-bar
{
  display: inline-block;
  max-width: 645px;
  width: 92%;
  height: 60px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 7px;
  background-color: #ffdc70;
}
/*Search Bar elements*/
#search_subject
{
  pointer-events: all;
  max-width: 130px;
  width: 20vw;
  height: 60px;
  padding: 0 0;
  padding-left: 9px;
  border-radius: 8px;
  font-size: 18px;
  border-color: white;
  background-color: white;
}
#search_term
{
  pointer-events: all;
  max-width: 420px;
  width: 49vw;
  height: 56px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0 0;
  padding-left: 10px;
  border-radius: 10px;
  font-size: 18px;
  border-color: white;
  background-color: white;
}
#search_submit
{
  pointer-events: all;
  width: 60px;
  height: 60px;
  padding: 0 0;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  border-color: white;
  background-color: white;
}
#search_submit:hover
{
  background-color: #bfbfbf;
}

/*holds user/account related buttons and tutor registration*/
#nav-right
{
  pointer-events: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  position: absolute;
  margin-top: -64px;
  right: 15px;
  text-align: right;
  width: auto;
}
#tutor-signup
{
  display: inline-block;
  margin-right: 100px;
  /*margin-right: 13vw;*/
  width: 158px;
  padding-right: 10px;
  overflow: clip;
}
#login
{
  text-align: center;
  width: 66px;
  margin-left: 150px;
  margin-right: 5px;
}
#register
{
  text-align: center;
  width: 66px;
  margin-left: 5px;
  margin-right: 5px;
}
#username-plate
{
  pointer-events: all;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  /*height: auto;*/
}
#username-plate:hover
{
  text-decoration:underline;
}
/*spacing for user dropdown buttons*/
#user-dropdown
{
  float: right;
  pointer-events: all;
  margin-top: -5px;
  width: 108px;
}
.drop-link
{
  margin: 2px 0px;
  width: 88px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}
#user-dropdown.is-visible
{
  display: block;
}
#user-dropdown.not-visible
{
  display: none;
}

@media screen and (max-width: 900px) {
  #tutorlink-logo {
    display: none;
  }
  #about-us,
  #nav-right
  {
    margin-top: 163px;
  }
}