body
{
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
#page-content
{
  padding-bottom: 57px;
}
#page-footer
{
  height: 57px;
  position: absolute;
  bottom: 0;
}

main
{
  margin-left: 50px;
  margin-right: 50px;
}

#nav-bar, #page-footer
{
  font-family: "Arial", "Comic Sans MS", "monospace";
}
body
{
  font: 15px monospace;
}

h1, h2
{
  margin-top: 0px;
  margin-bottom: 0px;
}
br
{
  clear: both;
}
.line-break
{
   border: 2px solid black;
}

a
{
  text-decoration:none;
}
a:hover
{
  text-decoration:underline;
}