.new-tutors-clip-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.new-tutors-container {
    width: 100%;
    display: inline-block;
}

.tutor-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tutor-name {
    font-weight: bold;
}

.subj {
    font-style: italic;
}

.tutor-post-header-text {
    display: flex;
    flex-direction: column;
}

.tutor-post-header {
    height: 20%;
    background-color: #3B3934;
    color: white;
    text-align: justify;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.tutor-post-header:hover {
    background-color: #fc3;
    color: #303;
}

.tutor-post-header img {
    max-width: 100%;
    max-height: 75%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.tutor-post {
    width: 375px;
    height: 350px;
    background-color: #f5f5f5;
    box-sizing: border-box;
    text-align: center;
    color: black;
    cursor: pointer;
    margin: 15px;
}
