<a href="{{ url_for('view_message', msg_id=msg_id) }}" target="_blank">
<div class="message">
    <div class="message-content">
        <img src="{{ url_for('static', filename=(tutor.tutor_photo)) }}" alt="{{ tutor.tutor_name }}'s Photo">
        <div class="message-info">
            <div class="message-header">
                <a class="message-subject"><h3>Subject line</h3></a>
                <p class="message-date">Date</p>
            </div>
            {{ word }}: {{ tutor.tutor_name }}
        </div>
    </div>
</div>
</a>
