<div class="message">
    <div class="message-content">
        <img src="{{ url_for('static', filename=(tutor.tutor_photo)) }}" alt="{{ tutor.tutor_name }}'s Photo">
        <div class="message-info">
            <div class="message-header">
                <a class="message-subject">Subject line</a>
                <p class="message-date">Date</p>
            </div>
        </div>
    </div>
</div>
