<footer id="page-footer">
    <hr class="line-break">
    <a style="float: left" href="https://github.com/Eskinaz">Abel Seyoum, 2022</a>
    <a style="float: right" href="/policy">Website Policy</a>
</footer>