{% set title = "Search - Tutorlink" %}
<link rel="stylesheet" href="{{ url_for("static", filename=('css/tutor_post.css')) }}" />
<script defer src="{{ url_for("static", filename=('js/tutor_post.js')) }}"></script>

{% block body %}
    <div class="tutor-post">
        <div class="tutor-post-header">
            <img src="{{ url_for('static', filename=(tutor.tutor_photo)) }}" alt="{{ tutor.tutor_name }}'s Photo">
            {{ tutor.tutor_name }}
        </div>

        {{ tutor.tutor_subj }}
    </div>

{% endblock %}
