<!DOCTYPE html>
<html lang="en">

{# Pages needs to set their data prior to extending this template #}
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XVJKD5HB24"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XVJKD5HB24');
    </script>

    {# Page needs to set the title #}
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for("static", filename=("resources/favicon.ico")) }}" sizes="70x70" type="image/ico">
    <link rel="stylesheet" href="{{ url_for("static", filename=("css/style.css")) }}" />
    <link rel="stylesheet" href="{{ url_for("static", filename=("css/navbar.css")) }}" />
    <link rel="stylesheet" href="{{ url_for("static", filename=("css/footer.css")) }}" />
    <script defer src="{{ url_for("static", filename=('js/navbar.js')) }}"></script>

    {# Adds css/js files set by the page #}
    {% block head %}
        {# Page needs to create a corresponding block that calls "super()" here so the code below runs #}
        {% if css != None %}
        {% for file in css %}
            <link rel="stylesheet" href="{{ url_for("static", filename=('css/' ~ file)) }}" />
        {% endfor %}
        {% endif %}

        {% if js != None %}
        {% for file in js %}
            <script defer src="{{ url_for("static", filename=('js/' ~ file)) }}"></script>
        {% endfor %}
        {% endif %}
    {% endblock %}
</head>


<body>
    <div id="page-content">
        {% include 'partials/navbar.jinja2' %}

        <main>
            {% block body required %}
            {# pages shall place content here #}
            {% endblock %}
        </main>
    </div>

    {% include 'partials/footer.jinja2' %}
</body>

</html>
