{% set title = "Search - Tutorlink" %}
{% set css = ["home.css"] %}
{% set js = ["home.js"] %}
{% extends "base.jinja2" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <h1 id="page-title">Find Tutors For Your SFSU Courses</h1>

    <script>
        var subject_list = {{ subject_list  | tojson | safe }};
    </script>
    <div class="carousel-clip-container">
        <h2 id="carousel-title">Browse our Top 5 Subjects</h2>
        <div class="carousel-container">
            {% for subject in subject_list %}
                <div class="rectangle">
                    {{ subject.text }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="new-tutors-clip-container">
    <h2 id="new-tutor-title">Browse Newly Added Tutors</h2>
    <div class="new-tutors-container">
        <div class="tutor-row">
            {% for tutor in tutor_list %}
                {% set tutor=tutor %}
                {% include '/partials/tutor_post.jinja2' %}
                {% if loop.index % 4 == 0 %}
                    <div style="clear: both;"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
