{% set title = "Search - Tutorlink" %}
{#{% set css = [""] %}#}
{#{% set js = [""] %}#}
{% extends "base.jinja2" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <h1>CSC-648-03 Fall 2023</h1>
    <h2>Team 02</h2>

    {% if res != None %}
        <p> === Results === </p>
        {% for i in res %}
            <table>
                <img src="{{ url_for('static', filename=(i.tutor_photo)) }}" alt="{{ i.tutor_name }}'s Photo">
                <tr>
                    <th>Name</th>
                    <th>{{i.tutor_name}}</th>
                </tr>
                <tr>
                    <th>Subject</th>
                    <th>{{ subj_db.query.filter_by(subj_id=i.tutor_subj).first().subj_short }}</th>
                </tr>
                <tr>
                    <th>Class #</th>
                    <th>{{ i.tutor_subj_num }}</th>
                </tr>
                <tr>
                    <th>Bio</th>
                    <th>{{ i.tutor_bio }}</th>
                </tr>
                <tr>
                    <th>CV/Flyer</th>
                    <th><a href="{{ url_for('static', filename=(i.tutor_cv)) }}" target="_blank">link</a></th>
                </tr>
                <tr>
                    <th>Video</th>
                    <th><a href="{{ i.tutor_vid }}" target="_blank">link</a></th>
                </tr>
            </table>
        <br>
        {% endfor %}
        <p> === End Of Results ===</p>
    {% else %}
        <p> === No Search Term Entered ===</p>
    {% endif %}
{% endblock %}
