{% set title = "Message From: " ~ "PLACEHOLDER" %}
{#{% set css = [""] %}#}
{# {% set js = [""] %} #}
{% extends "base.jinja2" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    Sender: {{ student.user_name }}
    <br>
    Receiver: {{ tutor.tutor_name }}
    <br>
    Text: {{ message.msg_text }}
{% endblock %}