{% set title = "Message From: " ~ "PLACEHOLDER" %}
{#{% set css = [""] %}#}
{# {% set js = [""] %} #}
{% extends "base.jinja2" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    Sender: {{ sender.user_name }}
    <br>
    Receiver: {{ receiver.user_name }}
    <br>
    Tutor: {{ tutor.tutor_name }}
    <br>
    Subject: {{ subject }}
    <br>
    Text: {{ message }}
{% endblock %}