{% set title = "Message From: " ~ tutor.tutor_name %}
{#{% set css = [""] %}#}
{# {% set js = [""] %} #}
{% extends "base.jinja2" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}

{% endblock %}